[submodule "share/git/ClangLite"]
	path = share/git/ClangLite
	url = https://github.com/StatisKit/ClangLite
[submodule "share/git/AutoWIG"]
	path = share/git/AutoWIG
	url = https://github.com/statiskit/AutoWIG.git
[submodule "share/git/devops-tools"]
	path = share/git/devops-tools
	url = https://github.com/StatisKit/devops-tools
[submodule "share/git/conda-tools"]
	path = share/git/conda-tools
	url = https://github.com/StatisKit/conda-tools
[submodule "share/git/FP17"]
	path = share/git/FP17
	url = https://github.com/StatisKit/FP17
