[submodule "share/git/ClangLite"]
	path = share/git/ClangLite
	url = https://github.com/statiskit/ClangLite.git
[submodule "share/git/AutoWIG"]
	path = share/git/AutoWIG
	url = https://github.com/statiskit/AutoWIG.git
