.ipynb_checkpoints
doc/_build
doc/_static
*.*~
*.swp
*.so
*.os
*.py[cod]
*.egg
*.egg-info
build
.sconsign.dblite
*.sublime-workspace
travis_build.sh
travis_job_*.sh
travis-ci
appveyor_build.bat
appveyor_job_*.bat
appveyor-ci