branches:
  except:
    - doc
    - unix
    - test_gcc
    
platform:
  - x86
  - x64

environment:
  matrix:
    - RECIPE: vcs
    - RECIPE: python-scons
    - RECIPE: python-parse
    - RECIPE: libdev
    - RECIPE: librun
    - RECIPE: python-dev
    - RECIPE: python-dbg
    - RECIPE: python-doc
    - RECIPE: python-pkg
    - RECIPE: llvm
    - RECIPE: clang
    - RECIPE: python-clang
    - RECIPE: libboost

install:
  - git clone https://github.com/StatisKit/appveyor-ci.git
  - cd appveyor-ci
  - call install.bat
    
before_build:
  - call before_build.bat

build_script:
  - call build_script.bat
  
after_build:
  - call after_build.bat

deploy:
  provider: Script
  on:
    branch: master
 
before_deploy:
  - call before_deploy.bat

deploy_script:
  - call deploy_script.bat

after_deploy:
  - call after_deploy.bat

on_success:
  - call on_success.bat

on_failure:
  - call on_failure.bat

on_finish:
  - call on_finish.bat
    
